@import "../../../styles/colors";
@import "../../../styles/gradients";
@import "../../../styles/texts";
@import "../../../styles/buttons";



#header {
    font-size: $fontLG;
    background-color: $primColor;
}

#signup_form {
    margin: {
        left: 10vw;
        right: 10vw;
    };
    color: $primColorDarker !important;
    background-color: white;
    font-weight: bold;
    color: $primColorDarker;
}


