
$primColorLight: #247b83; // left panel bg color
$primColor: #006064;  // board coords color navbar
$primColorDark: #114c4d;  // Mybtn color
$primColorDarker: #00363a; //Mybtn hover color

$secColor: #b2dfdb;
$secColorLight: #0b2a2b;
$secColorDark: #006064;

$bgColor: green;
$textPrimColor: #b2dfdb;
$textSecColor: purple;


$textcolor : white;

$SignDark: #044749;  // Mybtn color


$lightgrey : #ddecee;