@import "../../../styles/colors";
@import "../../../styles/gradients";
@import "../../../styles/texts";
@import "../../../styles/buttons";


#textField {
    width: '50%';
}

// #mapTitle {
//     ,
// },

// #image {
//     // marginTop:
    
//     width: auto,
//     maxWidth: '100%', 
//     //maxHeight: '40vh'
//     height: ,
//     objectFit: 'contain',
// }

.reportImg {
    max-width: 100%;
    // overflow: hidden;
    // max-height: 40vh;
}

.imgUpBtn {
    display: none;
}

#delete {
    color: rgb(220, 0, 78);
}