@import '../../../styles/colors';
@import '../../../styles/texts';
@import '../../../styles/buttons';


#submit_btn {
    @include remove_hl;
    background-color: $primColor;
    color: #ffffff;
    border: {
        style: solid; 
        color: $primColorDarker;
        width: 3px;
    }
    &:hover {
        background-color: $primColorDark;
    };
}


.sizeLG {
    font-size: $fontLG !important;
}

.sizeMD {
    font-size: $fontMD !important;
}