@import "../../../styles/colors";
@import "../../../styles/texts";



#navbar{
    background-color: $primColorDark;
}

#img {
    height: 6vh;
}

#remFor {
    font-weight: bold;
    font-size: $fontLG;
    text-decoration: none;
    color: white;
    &:hover {
        text-decoration: none;
    }
}
