@import "../../../styles/colors";


#navbar{
    background-color: $primColorDark;
}

#img {
    height: 6vh;
}

.remFor {
    text-decoration: none;
    color: white;
    :hover {
        text-decoration: none;
    }
}
