@import "../../../styles/colors";
@import "../../../styles/gradients";
@import "../../../styles/texts";
@import "../../../styles/buttons";


#login_form {
    background-color: $primColor;
    // max-width: 350px;
    font-weight: bold;
    color: white;
    // border: 5px solid $primColorDarker;
    // box-shadow: 1px 1px 8px 2px $primColor;
}

#header {
    font-weight: bold;
    font-size: $fontMD;
    background-color: $primColor;
    color: #ffffff;
}

#header_bg {
    background-color: $primColor;
}


#form_text {
    font-weight: lighter;
    color: $primColor;
}

#submit_btn {
    @include remove_hl;
    background-color: $primColorDark;
    color: $secColor;
    font-weight: bold;
    border: {
        style: solid; 
        color: $secColor;
        width: 4px;
    }
    font-size: $fontMD;
    &:hover {
        background-color: $primColorDarker;
    };
}