@import "../../../styles/colors";
@import "../../../styles/gradients";
@import "../../../styles/texts";
@import "../../../styles/buttons";



#form {
    border: 2px solid $primColor;
}

#r_border {
    @include remove_hl;
    border: none;
    border-right: 1px solid $primColor;
}

#l_border {
    @include remove_hl;
    border: none;
    border-left: 1px solid $primColor;
}