@import "../../styles/colors";
@import "../../styles/gradients";
@import "../../styles/texts";
@import "../../styles/buttons";


#content {
    padding: {
        left: 5vw;
        right: 5vw;
    };

    // height: 100vh;
}



.store_pres{
    border: 2px rgb(32, 31, 28);
    box-shadow: 1px 1px 8px 2px #ccc;
    border-radius: 5px;
}

.shop_name {
    font: {
        size: $fontLG;
        weight: bold;
    };
    color: $primColor;
}


.item {
    font: {
        size: $fontMD;
        weight: bold;
    };
    color: $primColor;
}

.icon {
    color: $primColor;
}


#selected_items{
    margin-left: 8vw;
    border: 2px solid $primColor;
    border-radius: 5px;

}

#icon_bg {
    background-color: $primColor;
    font-size: $fontMD;
}

#input_email {
    @include remove_hl;
    border: 2px solid $primColor;
}

#btn_bg {
    @include remove_hl;
    background-color: $primColor;
    font-weight: bold;
}
