@import '../../styles/colors';
@import '../../styles/texts';


#commentRow{
    border: 2px solid $primColor;
    border-radius: 15px;
    background-color: white;
    font-size: $fontSM;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 28px;
    // margin-top:7px;
}


#username{
    padding-right: 10px;
    color: $primColor;
    font-weight: bold;
}


#profileImg{
    border: 2px solid $primColor;
}
