@import "../../styles/colors";
@import "../../styles/texts";
@import "../../styles/buttons";


#content{
    height: 100vh;
    padding-top: 15vh;
    padding-bottom: 2vh;
    // background-color: $secColor;
}