@import "../../styles/colors";
@import "../../styles/gradients";
@import "../../styles/texts";
@import "../../styles/buttons";


.content {
    // height: 83vh;
}


#header {
    font: {
        size: $fontLG;
        weight: bold;
    };
    color: $primColor;


}